[Unit]
Description=Refresh GPUQ GPU status once per minute

[Timer]
OnBootSec=20s
OnUnitInactiveSec=60s
AccuracySec=5s
Unit=gpuq-console-collect.service

[Install]
WantedBy=timers.target
